**/*.class

# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini

#**/.settings
**/.settings
**/target

**/gradle/wrapper/
**/gradle/*

**/build/*

**/.classpath

**/gradlew
**/gradlew.bat

